{% load static %}

<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Proposal</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/tipso.css' %}">
	<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/transitions.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/dbresponsive.css' %}">
	<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body class="wt-login">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader Start -->
	<div class="preloader-outer">
		<div class="loader"></div>
	</div>
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">
			<!-- Header Start -->
			{% include 'accounts/header.html' %}
			<!--Header End-->
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">
				<!--Sidebar Start-->
				<div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
					<div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
						<span class="menu-icon">
							<em></em>
							<em></em>
							<em></em>
						</span>
					</div>
					<div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
						<div class="wt-companysdetails wt-usersidebar">
							<figure class="wt-companysimg">
								<img src="{% static 'images/sidebar/img-01.jpg' %}" alt="img description">
							</figure>
							<div class="wt-companysinfo">
								
								<div class="wt-title">
									<h2><a href="javascript:void(0);"> {{request.user.userprofile.first_name}} {{request.user.userprofile.last_name}}</a></h2>
									<span>{{request.user.userprofile.tag_line}}</span>
								</div>
                                {% if request.user.userprofile.is_employer %}
								    <div class="wt-btnarea"><a href="{% url 'addJobs' %}" class="wt-btn">Post a Job</a></div>
								{% else %}
								<div class="wt-btnarea"><a href="#" class="wt-btn">${{request.user.userprofile.balance}} USD</a></div>
                                {% endif %}
							</div>
						</div>
						<nav id="wt-navdashboard" class="wt-navdashboard">
							<ul>
								
								<li class="wt-active">
									<a href="{% url 'freelancer' request.user.userprofile.id %}">
										<i class="ti-briefcase"></i>
										<span>My Profile</span>
									</a>
								</li>
                                {% if not request.user.userprofile.is_employer  %}
                                    
                                    <li>
                                        <a href="{% url 'freelancer_proposal' %}">
                                            <i class="ti-bookmark-alt"></i>
                                            <span>Proposals</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'manage_jobs' %}">
                                            <i class="ti-announcement"></i>
                                            <span>Manage Jobs</span>
                                        </a>
                                    </li>
                                {% endif %}
								<li >
									{% if not request.user.userprofile.is_employer and check %}
										<a href="{% url 'message' proposal.on_job.id proposal.id %}">
											<i class="ti-pencil-alt"></i>
											<span>Messages</span>
										</a>
									
									{% endif %}
									
								</li>
								
								
								<li>
									<a href="{% url 'user_account' %}">
										<i class="ti-anchor"></i>
										<span>Account Settings</span>
									</a>
								</li>
								
								<li>
									<a href="{% url 'logout' %}">
										<i class="ti-shift-right"></i>
										<span>Logout</span>
									</a>
								</li>
							</ul>
						</nav>
						<div class="wt-navdashboard-footer">
							<span>Kamshaam. © 2021 All Rights Reserved.</span>
						</div>
					</div>
				</div>
				<!--Sidebar Start-->
				<!--Register Form Start-->
				<section class="wt-haslayout wt-dbsectionspace wt-proposals">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
							<div class="wt-dashboardbox">
								<div class="wt-dashboardboxtitle">
									<h2>Manage Proposals</h2>
								</div>
								<div class="wt-dashboardboxcontent wt-rcvproposala">
									
									<div class="wt-freelancerholder wt-rcvproposalholder">
										<div class="wt-tabscontenttitle">
											<h2>List of Proposals</h2>
                                           
										</div>
                                            
										</div>
                                        {% for proposal in request.user.proposalsender.all %}
                                        <div class="wt-managejobcontent">
                                            <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                                <span class="wt-featuredtag wt-featuredtagcolor3"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style mCS_img_loaded"></span>
                                                <div class="wt-userlistingcontent">
                                                    <div class="wt-contenthead">
                                                        <div class="wt-title">
                                                            <a href="usersingle.html"><i class="fa fa-check-circle"></i> {{proposal.on_job.created_by.userprofile.first_name}} {{proposal.on_job.created_by.userprofile.last_name}}
                                                            </a>
                                                            <h2>{{proposal.on_job.jobTitle}}</h2>
                                                        </div>
                                                        <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                            <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> {{proposal.amount}}</span></li>
                                                            <li><span>{{proposal.on_job.created_by.userprofile.country}}</span></li>
                                                            <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                            <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: {{proposal.duration}}</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="wt-rightarea">
                                                        <div class="wt-hireduserstatus">
                                                            <h4>{{proposal.on_job.proposal_count}}</h4><span>Proposals Received</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                            
                                        {% endfor %}										
									</div>
								</div>
																
							</div>
						</div>
						
				</section>
				<!--Register Form End-->
			</main>
			<!--Main End-->	
		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->
	<script src="{% static 'js/vendor/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	<script src="{% static 'js/tilt.jquery.js' %}"></script>
	<script src="{% static 'js/scrollbar.min.js' %}"></script>
	<script src="{% static 'js/prettyPhoto.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/readmore.js' %}"></script>
	<script src="{% static 'js/countTo.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/tipso.js' %}"></script>
	<script src="{% static 'js/jRate.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script>
		const menu_icon = document.querySelector('.menu-icon');
		function addClassFunThree() {
	        this.classList.toggle("click-menu-icon");
	    }
	    menu_icon.addEventListener('click', addClassFunThree);
	</script>
</body>


</html>