{% load static %}

<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Freelancer Profile</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/tipso.css' %}">
	<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/transitions.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body class="wt-login">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader Start -->
	<div class="preloader-outer">
		<div class="loader"></div>
	</div>
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">
			<!-- Header Start -->
			{% include 'accounts/header.html' %}
			<!--Header End-->
			<!--Inner Home Banner Start-->
			<div class="wt-haslayout wt-innerbannerholder wt-innerbannerholdervtwo">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
						</div>
					</div>
				</div>
			</div>
			<!--Inner Home End-->
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<!-- User Profile Start-->
				<div class="wt-main-section wt-paddingtopnull wt-haslayout">
					<div class="container">
						<div class="row">	
							<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
								<div class="wt-userprofileholder">
									<span class="wt-featuredtag"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
									<div class="col-12 col-sm-12 col-md-12 col-lg-3 float-left">
										<div class="row">
											<div class="wt-userprofile">
												<figure>
													<img src="{% static 'images/freelancer.jpg' %}" alt="img description">
													<div class="wt-userdropdown wt-online">
													</div>
												</figure>
												<div class="wt-title">
													<h3><i class="fa fa-check-circle"></i> {{freelancer.first_name}} {{freelancer.last_name}}</h3>
													<span>{{freelancer.overall_rating}}/5 <a class="javascript:void(0);">({{freelancer.feedback}} Feedback)</a> <br>Member since {{freelancer.created_at|date:"SHORT_DATE_FORMAT"}} <br><a href="javascript:void(0);">@{{freelancer.user.username}}</a> <a href="javascript:void(0);" class="wt-reportuser">Report User</a></span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 col-lg-9 float-left">
										<div class="row">
											<div class="wt-proposalhead wt-userdetails">
												<h2>{{freelancer.tag_line}}</h2>
												<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
													<li><span><i class="far fa-money-bill-alt"></i> ${{freelancer.hourly_rate}} / hr</span></li>
													<li><span>{{freelancer.country}}</span></li>
													
												</ul>
												<div class="wt-description">
													<p style="color: black;">{{freelancer.description}}</p>
													
												</div>
											</div>
											<div id="wt-statistics" class="wt-statistics wt-profilecounter">
												<div class="wt-statisticcontent wt-countercolor1">
													<h3 data-from="0" data-to="{{freelancer.ongoing_jobs}}" data-speed="800" data-refresh-interval="03">{{freelancer.ongoing_jobs}}</h3>
													<h4>Ongoing <br>Projects</h4>
												</div>
												<div class="wt-statisticcontent wt-countercolor2">
													<h3 data-from="0" data-to="{{freelancer.completed_jobs}}" data-speed="8000" data-refresh-interval="100">{{freelancer.completed_jobs}}</h3>
													<h4>Completed <br>Projects</h4>
												</div>
												
												
												<div class="wt-description">
													<p>* If You Are Working On Something That You Really Care About, You Don't Have To Be Pushed</p>
													<a href="javascript:void(0);" class="wt-btn" data-toggle="modal" data-target="#reviewermodal">Verified</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- User Profile End-->
					<!-- User Listing Start-->
					<div class="container">
						<div class="row">
							<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
								<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
									<div class="wt-usersingle">
										<div class="wt-clientfeedback">
											<div class="wt-usertitle wt-titlewithselect">
												<h2>Client Feedback</h2>
												
											</div>
											{% for review in reviews %}
											<div class="wt-userlistinghold wt-userlistingsingle wt-bgcolor">	
												<figure class="wt-userlistingimg">
													<img src="{% static 'images/client/img-01.jpg' %}" alt="image description">
												</figure>
												<div class="wt-userlistingcontent">
													<div class="wt-contenthead">
														<div class="wt-title">
															<a href="javascript:void(0);"><i class="fa fa-check-circle"></i> {{review.given_by.userprofile.first_name}} {{review.given_by.userprofile.last_name}}</a>
															<h3>{{review.on_job.jobTitle}}</h3>
															
														</div>
														<ul class="wt-userlisting-breadcrumb">
															<li><span><i class="fa fa-dollar-sign"></i> {{review.on_job.experience}}</span></li>
															<li><span>{{review.on_job.created_by.userprofile.country}}</span></li>
															<li><span>{{review.on_job.job_status}}</span></li>
															<li><span>{{review.review_rating}}/5</span></li>
														</ul>
														
													</div>
													
												</div>
												<br><br>
												<span >{{review.feedback}}</span>
											</div>
											
											{% endfor %}
											
										</div>
										<div class="wt-craftedprojects">
											<div class="wt-usertitle">
												<h2>Crafted Projects</h2>
											</div>
											<div class="wt-projects">
                                                {% for project in projects%}
                                                    <div class="wt-project">
                                                        <figure>
                                                            <img src="{% static 'images/projects/img-01.jpg' %}" alt="img description">
                                                        </figure>
                                                        <div class="wt-projectcontent">
                                                            <h3>{{project.project_title}}</h3>
                                                            <a href="javascript:void(0);">{{project.project_url}}</a>
                                                        </div>
                                                    </div>
												{% endfor %}
												
												
											</div>
										</div>
										<div class="wt-experience">
											<div class="wt-usertitle">
												<h2>Experience</h2>
											</div>
											<div class="wt-experiencelisting-hold">
                                                {% for exp in experiences %}
                                                    <div class="wt-experiencelisting wt-bgcolor">
                                                        <div class="wt-title">
                                                            <h3>{{exp.job_title}}</h3>
                                                        </div>
                                                        <div class="wt-experiencecontent">
                                                            <ul class="wt-userlisting-breadcrumb">
                                                                <li><span><i class="far fa-building"></i> {{exp.company_name}}</span></li>
                                                                <li><span><i class="far fa-calendar"></i> {{exp.starting_date}} - {{exp.ending_date}}</span></li>
                                                            </ul>
                                                            <div class="wt-description">
                                                                <p>“ {{exp.job_description}} ”</p>
                                                            </div>
                                                        </div>
                                                    </div>
												{% endfor %}
												
												<div class="divheight"></div>
											</div>
										</div>
										<div class="wt-experience wt-education">
											<div class="wt-usertitle">
												<h2>Education</h2>
											</div>
											<div class="wt-experiencelisting-hold">
                                                {% for edu in educations %}
                                                    <div class="wt-experiencelisting wt-bgcolor">
                                                        <div class="wt-title">
                                                            <h3>{{edu.degree}}</h3>
                                                        </div>
                                                        <div class="wt-experiencecontent">
                                                            <ul class="wt-userlisting-breadcrumb">
                                                                <li><span><i class="far fa-building"></i> {{edu.school}}</span></li>
                                                                <li><span><i class="far fa-calendar"></i> {{edu.starting_date}} - {{edu.ending_date}}</span></li>
                                                            </ul>
                                                            <div class="wt-description">
                                                                <p>“ {{edu.description}} ”</p>
                                                            </div>
                                                        </div>
                                                    </div>
												{% endfor %}

												<div class="divheight"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
									<aside id="wt-sidebar" class="wt-sidebar">
										<div id="wt-ourskill" class="wt-widget">
											<div class="wt-widgettitle">
												<h2>My Skills</h2>
											</div>
											<div class="wt-widgetcontent wt-skillscontent">
                                                {% for skill in freelancer.skills.all %}
												<div class="wt-skillholder" data-percent="100%">
													<span>{{skill.name}} </span>
													<div class="wt-skillbarholder"><div class="wt-skillbar"></div></div>
												</div>
												{% endfor %}
												
												<div class="wt-btnarea">
													<a href="javascript:void(0)">View More</a>
												</div>
											</div>
										</div>
										<div class="wt-widget wt-widgetarticlesholder wt-articlesuser">
											<div class="wt-widgettitle">
												<h2>Awards &amp; Certifications</h2>
											</div>
											<div class="wt-widgetcontent">
                                                {% for award in awards %}
                                                    <div class="wt-particlehold">
                                                        <figure>
                                                            <img src="{% static 'images/thumbnail/img-07.jpg' %}" alt="image description">
                                                        </figure>
                                                        <div class="wt-particlecontent">
                                                            <h3><a href="javascript:void(0);">{{award.award_title}}</a></h3>
                                                            <span><i class="lnr lnr-calendar"></i> {{award.award_date}}</span>
                                                        </div>
                                                    </div>
												{% endfor %}
												
											</div>
										</div>
										
										
										
										<div class="wt-widget wt-reportjob">
											<div class="wt-widgettitle">
												<h2>Report This User</h2>
											</div>
											<div class="wt-widgetcontent">
												<form class="wt-formtheme wt-formreport">
													<fieldset>
														<div class="form-group">
															<span class="wt-select">
																<select>
																	<option value="reason">Select Reason</option>
																	<option value="reason1">Reason1</option>
																	<option value="reason2">Reason2</option>
																	<option value="reason3">Reason3</option>
																	<option value="reason4">Reason4</option>
																</select>
															</span>
														</div>
														<div class="form-group">
															<textarea class="form-control" placeholder="Description"></textarea>
														</div>
														<div class="form-group wt-btnarea">
															<a href="javascrip:void(0);" class="wt-btn">Submit</a>
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</aside>
								</div>
							</div>
						</div>
					</div>
					<!-- User Listing End-->
				</div>
			</main>
			<!--Main End-->
			<!--Footer Start-->
			{% include 'accounts/footer.html' %}
			<!--Footer End-->
		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->
	<!-- Popup Start-->
	
	<!-- Popup End-->
	<script src="{% static 'js/vendor/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	<script src="{% static 'js/tilt.jquery.js' %}"></script>
	<script src="{% static 'js/scrollbar.min.js' %}"></script>
	<script src="{% static 'js/prettyPhoto.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/readmore.js' %}"></script>
	<script src="{% static 'js/countTo.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/tipso.js' %}"></script>
	<script src="{% static 'js/jRate.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>


</html>