{% load static %}

<script src="{% static 'js/vendor/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	<script src="{% static 'js/scrollbar.min.js' %}"></script>
	<script src="{% static 'js/tilt.jquery.js' %}"></script>
	<script src="{% static 'js/prettyPhoto.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/readmore.js' %}"></script>
	<script src="{% static 'js/countTo.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/tipso.js' %}"></script>
	<script src="{% static 'js/jRate.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>